<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <title>Payment Error</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cairo:wght@200;300;400;600&family=Pacifico&family=Signika+Negative:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Lora:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <div class="body_image">-->
        <div class="container">
            <div class="status">
                <h1 th:text="'Status: '+${status}">Payment Cancelled</h1><br>
            </div>
        </div>
        <div class="body_container">
            <div class="message">
                <p th:text="'Error: '+${message}">Your payment has been cancelled and you will not be charged. </br>If you wish to retry press the retry button.</p>
            </div>

            <div class="image">
                <div id="img">
                    <img src="cancel.png" />
                </div>
            </div>

            <div class="buttons">
                <button id="retry">Retry Payment</button>
                <button>Cancel</button>
            </div>

        </div>

    </div>

    <!-- <div class="container">
    <section>
        <h1 class="title-2">Payment Cancelled</h1>
        <h5 class="sub-title">Your payment has been cancelled and you will not be charged. </br>If you wish to retry press the retry button.</h5>
        <div>
            <button id="retry">Retry Payment</button>
        </div>
    </section>
</div> -->

</body>



<script th:inline="javascript">
    var ref = [
        [${tx_ref}]
    ];
    var url = [
        [${url}]
    ];
    var button = document.getElementById('retry');
    button.addEventListener('click', function() {
        window.location.href = url + '/retry-payment?ref=' + ref;
    });
</script>

</html>